body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.homeNaveBar{
  background: linear-gradient(rgba(15, 137, 202, 0.696),rgba(5, 85, 120, 0.916));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; 
}
.logoDiv{
  width: 100%;
  display: flex;
  float: left;
}
.navBarLogo{
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navLink{
  text-decoration: none;
  color: white;
  font-size: larger;
}
.navLink:hover{
  border: none;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
.navBarDiv{
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}
.navItems{
  gap: 20px;
}
.navBarContainer{
  display: flex;
  float: left;
}
.navBarLogoDiv{
  float: left;
  width: 100%;
}
.homeProductDiv{
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.carouserlDivision{
  width: 100%;
  height: 50%;
}
.cImage{
 width: 100%;
 height: 80%;
 filter: brightness(80%);
}
.carouselCaption>h3,p{
  color: black;
}
.carouselCaption{
  top: 50%;
}
.cardImage{
  width: auto;
  height: auto;
}
.carouselText{
  color: white;
  font-size: xx-large;
}
.aboutDiv{
  justify-content: center;
  border: none;
  border-radius: 20px;
  margin: 10px;
  border: 2px solid maroon;
  
}
.aboutSubMainDiv{
  text-align: center;
  width: 100%;
  height: 300px;
}
.aboutSubDiv{
  width: 100%;
  height: 100%;
  text-align: left;
}
.aboutSubDiv img{
  width: 100%;
  height: 100%;
}
.loginDiv{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.container{
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}